undetected-chromedriver
selenium
selenium-stealth
pandas
openpyxl
python-dotenv
beautifulsoup4
fastapi
uvicorn[standard]
pydantic
pymupdf
python-docx
rake-nltk
sqlalchemy
razorpay
motor
pymongo
httpx
google-auth
passlib[argon2]
