undetected-chromedriver
selenium
pandas
openpyxl
python-dotenv
beautifulsoup4
streamlit
fastapi
uvicorn
pydantic
pymupdf
python-docx
rake-nltk
supabase
httpx
google-auth
razorpay
passlib[argon2]
certifi
